/*
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    chosen { zmk,matrix-transform = &layout_grid_transform; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5     &none  &none  &kp N6     &kp N7  &kp N8     &kp N9   &kp N0
&kp Q   &kp W   &kp E   &kp R   &kp T      &none  &none  &kp Y      &kp U   &kp I      &kp O    &kp P
&kp A   &kp S   &kp D   &kp F   &kp G      &none  &none  &kp H      &kp J   &kp K      &kp L    &kp SEMI
&kp Z   &kp X   &kp C   &kp V   &kp B      &none  &none  &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH
&none   &none   &none   &mo 1   &kp SPACE  &none  &none  &kp LSHFT  &mo 2   &none      &none    &none
            >;
        };

        lower {
            bindings = <
&none      &none     &none      &none     &none      &none  &none  &none      &none      &none      &none     &none
&kp TILDE  &kp PIPE  &kp GRAVE  &kp BSLH  &none      &none  &none  &kp DQT    &kp UNDER  &kp PLUS   &kp LBRC  &kp RBRC
&kp EXCL   &kp AT    &kp POUND  &kp DLLR  &kp PRCNT  &none  &none  &kp CARET  &kp AMPS   &kp STAR   &kp LPAR  &kp RPAR
&none      &none     &none      &none     &none      &none  &none  &kp SQT    &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT
&none      &none     &none      &trans    &trans     &none  &none  &trans     &trans     &none      &none     &none
            >;
        };

        raise {
            bindings = <
&none   &none   &none   &none   &none   &none  &none  &none   &none   &none      &none    &none
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &none  &none  &kp F6  &kp F7  &kp F8     &kp F9   &kp F10
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &none  &none  &kp N6  &kp N7  &kp N8     &kp N9   &kp N0
&none   &none   &none   &none   &none   &none  &none  &none   &none   &kp COMMA  &kp DOT  &none
&none   &none   &none   &none   &none   &none  &none  &trans  &none   &none      &none    &none
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
